<% pools.each do |pool| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= link_to image_tag(pool.cover_photo(:medium)) %>
      </div>
      <div class="panel-body">
        <div class="container">
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><b><%= link_to pool.listing_name, pool %></b></span></br>
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><%= pluralize(pool.guest_reviews.count, "review") %></span>
          <div id="star_<%= pool.id %>"><span class="pull-right"><b>$<%= pool.price %></b> per hour</span></div>
          
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('#star_<%= pool.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= pool.average_rating %>
    });
  </script>
<% end %>