<div class="row">
  <div class="col-md-3">
    <%= render 'pool_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Amenities
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @pool do |f| %>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_heated_pool %> Heated Pool
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_chairs %> Chairs
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_accessible %> Accessible
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_parking %> Parking
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_speaker %> Portable Speaker
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_garage_parking %> Garage Parking
                </div>
              </div>
              <br/><br/>

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
