<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Create Your Listing
      </div>
      <div class="panel-body">
        <div class="container">

          <%= form_for @pool do |f| %>
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Pool Type</label>
                <%= f.select :pool_type, [["Above Ground", "Above Ground"], ["In-Ground", "In-Ground"]],
                  id: "pool_type", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
            
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Pool Floats</label>
                <%= f.select :lifesaver, [["Yes", "Yes"], ["No", "No"]],
                  id: "lifesaver", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
              
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Accommodate</label>
                <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4", 4]], 
                   id: "accommodate", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
                     
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Restrooms</label>
                <%= f.select :restrooms, [["1", 1], ["2", 2], ["None", "None"]], id: "restrooms", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
              
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Booking Type</label>
                <%= f.select :instant, Pool.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
              </div>
            </div>
        
            <div class="col-md-12 text-center">
              <div><%= f.submit "Save", class: "btn btn-normal" %> 
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="col-md-3">
  <div class="panel-default">
    <div class="container">
      <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
      <br><br/>
    </div>
  </div> 
</div>