<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= image_tag message.user.image, class: "img-circle avatar-small" %>
            <%= message.user.fullname %>
            <span class="pull-right"><%= message.message_time %></span>
          </div>
    
          <div class="panel-body">
            <div class="container">
                
              <div class="col-md-11">
                <%= message.context %>
              </div>
              
              <div class="col-md-1">
                <%= link_to @conversation, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="far fa-trash-alt" aria-hidden="true"></i>
                <% end %>
              </div>
              
              <!--<div class="col-md-1">-->
              <!--  <= link_to @conversation do %>-->
      	       <!--   <i class="fa fa-pencil-alt"></i> -->
      	       <!-- < end %>-->
              <!--</div>      	       -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  