<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('assets/hall.png');">
  <div class="page-header-content py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9 banner">
          <h1 class="text-red">Awesome Event Space Rentals</h1>
          <p class="page-header-text mb-4">Book and rent a unique event space.</p>
          <div class="form-row justify-content-center">
            <div class="">
              <div class="">
                <%= form_tag search_path, method: :get do %>
                <div class="col-md-9">
                  <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control", id: "autolocation" %>
                </div>  
                <!-- <div class="col-md-3">-->
                <!--  <= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>-->
                <!--</div>-->
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4">
              <%= submit_tag "Search", class: "btn btn-form btn-block" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<br>

<!-- VENUES -->
<section class="">
  <div class="">
    <div class="banner text-center">
    	<h2>Event Spaces Near You</h2>
      <h3>Book and rent an event space</h3>
    </div>
    <br/>
      
    <div class="">
      <%= render partial: "venues/venues_list", locals: {venues: @venues} %>
    </div>
  </div>
</section>
  
<!-- HOW SHINDIGSPACE WORKS -->
<section class="" style="background-color: #F5F6fA;">
  <div class="">
    <div class="page-section">
    <div class="banner text-center">
     	<h2 class="text-blue">How ShindigSpace Works</h2>
      <h3>Contact-less Awesomeness</h3>
    </div>
        
    <div class="continer text-center">
      <div class="col-md-4">
      <div class="fas fa-building fa-4x text-blue"></div>
        <h3 class="my-3">Find a Unique Space</h3>
        <p class="text-center">Search for an event space, wait until your host vendor confirm your date, and await your approval. Listings with the <i class="fa fa-bolt" style="color: #ffb400"></i> icon will be booked instantly.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-envelope fa-4x text-blue"></div>
        <h3>Chat With Host</h3>
        <p class="text-center">Send a message to your host if you need additional information or just to say thank you. Vendor will communicate any additional information as needed.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-credit-card fa-4x text-blue"></div>
       	<h3>Book and Pay</h3>
       	<p class="text-center">Our calender system helps both host and guest see your reservation day in realtime. Submit your payment will be a breeze through our secure in-app checkout.</p>
      </div>
      
      <div class="row">
        <div class="banner col-lg-12 text-center">
          <button class="btn btn-form">
            <%= link_to "Sign Me Up!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
          </button>
          <p class="page-header-text small mb-0" style="text-shadow: none;">By signing up, you agree to our <a href="https://www.shindigspace.com/terms" style="color: #FF385C;">terms of service</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="">
  <div class="">
    <div class="banner page-section bg-light">
      <!--<div class="container">-->
        <div class="text-center">
          <h2 class="section-heading text-blue">Testimonials</h2>
          <h3 class="section-subheading">Here's what our customers had to say...</h3>
        </div>
      
        <div class="banner text-center">
          <div class="col-lg-4">
            <h3>Katrina S.</h3>
            <p class="text-center">So happy I found ShindigSpace. We were able to find an event space for a birthday celebration for my mom and invited all of her close friends!</p>
            <div class="col-md-12 text-center">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
            </div>
          </div>  
      
          <div class="col-lg-4">
            <h3>Larry P.</h3>
            <p class="text-center">There's probably no other better way to beat over-priced event spaces.</p>
            <div class="col-md-12 text-center">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
            </div>
          </div>
      			
          <div class="col-lg-4">
            <h3>Tiffany J.</h3>
            <p class="text-center">Our host was super helpful in providing the necessary amenities prior to our arrival. I will be booking again soon!</p>
            <div class="col-md-12 text-center">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
              <img alt="1" src="/assets/star-on.png">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <button class="btn btn-form">
              <%= link_to "Sign Me Up!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
            </button>
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>
</section>  

<!-- ADS -->
<section class="" style="background-color: #F5F6fA;">
  <div class="">
    <div class="banner text-blue text-center"><h2>Advertise on ShindigSpace</h2></div>
    <br/>
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="discovery-card">
          <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
        </div> 
      </div>
      
      <div class="col-md-3">
        <div class="discovery-card">
          <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
        </div> 
      </div>
      
      <div class="col-md-3">
        <div class="discovery-card">
          <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
        </div> 
      </div>
      
      <div class="col-md-3">
        <div class="discovery-card">
          <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
        </div> 
      </div>
    </div>  
  </div>  
</section>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '12m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>