<!--<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://source.unsplash.com/g39p1kDjvSY/1600x1200');">-->
<!--<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://i.pinimg.com/originals/fd/7a/9e/fd7a9ea2a02b9cd3a05ea4dbe55ee837.jpg');">-->
<!--<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://www.poolsbyextreme.com/zupload/library/130/-302-800x600-0.jpg');">-->
<!--<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://media-public.canva.com/MADQ5iuyKcY/1/screen.jpg');">-->
<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://media-public.canva.com/bI7gM/MADyRtbI7gM/1/s3.jpg');">
  <div class="page-header-content py-5">
    <div class="container">
      <div class="row banner">
        <div class="col-xl-8 col-lg-10 text-center">
          <h1 class="page-header-title">Awesome Local Pools</h1>
          <h4 class="page-header-text mb-5">Book pool time by the day</h4>
          <div class="form-row justify-content-center">
            <div class="col-lg-9 col-md-8">
              <div class="form-group mr-0 mr-lg-2">
                <%= form_tag search_path, method: :get do %>
                
                <%= text_field_tag :search, params[:search], placeholder: "Search for a Pool in Your Neighborhood", class: "form-control", id: "autolocation" %>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4">
              <%= submit_tag "Search", class: "btn btn-form btn-block" %>
            </div>
          </div>
          <% end %>
          <p class="page-header-text small mb-0">By signing up, you agree to our <a href="javascript:void(0);">terms of service</a></p>
        </div>
      </div>
    </div>
  </div>
  <sbpro-border>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 10.34" preserveAspectRatio="none" fill="currentColor"></svg>
  </sbpro-border>
</header>

<br>

<!-- POOLS -->
<section class="">
  <div class="container">
    <div class="banner text-center">
    	<h2 class="text-blue">Pools Near You</h2>
      <h3>Book and rent pool time in your neighborhood</h3>
    </div>
    <br/>
      
    <div class="row">
      <%= render partial: "pools/pools_list", locals: {pools: @pools} %>
    </div>
  </div>
</section>
  
<!-- HOW POOLCRASHER WORKS -->
<section class="">
  <div class="container">
    <div class="page-section">
    <div class="banner text-center">
     	<h2 class="text-blue">How PoolCrasher Works</h2>
      <h3>Contact-less Awesomeness</h3>
    </div>
        
    <div class="row text-center">
      <div class="col-md-4">
      <div class="fas fa-swimming-pool fa-4x text-blue"></div>
        <h3 class="my-3">Find a Pool</h3>
        <p class="text-center">Search for a pool near you, wait until the host confirm your date, and await your approval. Listings with the <i class="fa fa-bolt" style="color: #ffb400"></i> icon will be booked instantly.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-envelope fa-4x text-blue"></div>
        <h3>Chat With Host</h3>
        <p class="text-center">Send a message to your host if you need additional information or just to say thank you. Host will communicate any additional information as needed.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-credit-card fa-4x text-blue"></div>
       	<h3>Book and Pay</h3>
       	<p class="text-center">Our calender system helps both host and guest see your reservation day in realtime. Submit your payment will be a breeze through our secure Stripe checkout.</p>
      </div>
      
      <div class="row">
        <div class="banner col-lg-12 text-center">
          <button class="btn btn-form">
            <%= link_to "Sign Me Up!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="">
  <div class="container">
    <div class="banner page-section bg-light">
      <!--<div class="container">-->
        <div class="text-center">
          <h2 class="section-heading text-blue">Our Amazing Customers</h2>
          <h3 class="section-subheading text-muted">Here's what our customers had to say...</h3>
        </div>
      
        <div class="banner row">
          <div class="col-lg-4">
            <div class="discovery-card" style="background-image: url('/assets/testimonials-1.jpg')" alt="Customer 1"></div>
            <h3>Katy S.</h3>
            <p class="text-center">With the beaches closed, I was in utter amazement to find that people in my own neighborhood renting pool time. So happy I found PoolCrasher.</p>
          </div>  
      
          <div class="col-lg-4">
            <div class="discovery-card" style="background-image: url('/assets/testimonials-2.jpg')" alt="Customer 2"></div>
            <h3>Larry P.</h3>
            <p class="text-center">There's probably no other better way to beat the summer's heat. Living in an apartment doen't come with a backyard pool. 
            I booked a PoolCrasher for my girlfriend and I and enjoyed our time in the water.</p>
          </div>
      			
          <div class="col-lg-4">
            <div class="discovery-card" style="background-image: url('/assets/testimonials-3.jpg')" alt="Customer 3"></div>
            <h3>Diana W.</h3>
            <p class="text-center">I left my sunscreen and towel at home and my PoolCrasher host was super helpful in providing this prior to my arrival. I will be booking again soon!</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <button class="btn btn-form">
              <%= link_to "Sign Me Up!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
            </button>
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>
</section>  

<!-- CITIES -->
<section class="">
  <div class="container">
    <div class="banner text-blue text-center"><h2>PoolCrasher in other Cities Coming Soon!</h2></div>
    <br/>
    
    <div class="row">
      <div class="col-md-4">
    		<a href="https://poolcrasher.herokuapp.com/search?utf8=✓&search=chicago">
    			<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
    				<div class="va-container">
    					<div class="va-middle text-center">
    						<h2 style="text-decoration: none; color: #FFF; font-weight: 500; font-size: 60px"><strong>Chicago</strong></h2>
    					</div>
    				</div>
    			</div>
    		</a>
    	</div>
    
    	<div class="col-md-4">
    		<a href="https://poolcrasher.herokuapp.com/search?utf8=✓&search=atlanta">
    			<div class="discovery-card" style="background-image: url('/assets/atlanta.jpg')">
    				<div class="va-container">
    					<div class="va-middle text-center">
    						<h2 style="text-decoration: none; color: #FFF; font-weight: 500; font-size: 60px"><strong>Atlanta</strong></h2>
    					</div>
    				</div>
    			</div>
    		</a>
    	</div>
    
    	<div class="col-md-4">
    		<a href="https://poolcrasher.herokuapp.com/search?utf8=✓&search=dallas">
    			<div class="discovery-card" style="background-image: url('/assets/dallas.jpg')">
    				<div class="va-container">
    					<div class="va-middle text-center">
    						<h2 style="text-decoration: none; color: #FFF; font-weight: 500; font-size: 60px"><strong>Dallas</strong></h2>
    					</div>
    				</div>
    			</div>
    		</a>
    	</div>
    </div>
  </div>  
</section>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>