<% venues.each do |venue| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= link_to image_tag(venue.cover_photo(:medium) || '/assets/blank-acfbe0ed8e714c342b588d4ec1802d46077c65c1bac7209efc5a9344179a89ba.jpg', alt: venue.listing_name), venue %>
        <div class="price-box-wrapper pull-right">$<%= venue.price %></div>
      </div>
      
      <div class="panel-body">
        <div class="container">
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><%= link_to venue.listing_name, venue %></span></br>
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><span id="star_<%= venue.id %>"></span>&nbsp;<%= pluralize(venue.guest_reviews.count, "review") %>
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    $('#star_<%= venue.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= venue.average_rating %>
    });
  </script>
<% end %>