<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'venue_menu' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
    
          <div class="panel-heading">
            Amenities
          </div>
    
          <div class="panel-body">
            <div class="container">
              <%= form_for @venue do |f| %>
    
                  <div class="form-group">
                    <div class="col-md-3">
                      <%= f.check_box :is_wedropoff %> We Drop Off
                    </div>
                    <div class="col-md-3">
                      <%= f.check_box :is_wepickup %> We Pickup
                    </div>
                    <div class="col-md-3">
                      <%= f.check_box :is_youpickup %> You Pickup
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-3">
                      <%= f.check_box :is_youdropoff %> You Drop Off
                    </div>
                  </div>
                  <br/><br/>
    
                  <div class="text-center">
                    <%= f.submit "Save", class: "btn btn-form" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>