<!DOCTYPE html>
<html>
  <head>
    <title>PoolCrasher | Book Pool Time Near You</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnqDrT86OzRZVorExsMjFhYdp0TTOKQpE&libraries=places"></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnqDrT86OzRZVorExsMjFhYdp0TTOKQpE&callback=initMap"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="author" content="PoolCrasher" />
    <meta name="keywords" content="Pool Rental, Pool Booking, Pool Time Near Me" />
    <meta name="description" content="PoolCrasher allows you to book and rent pool time in a pool near you.">
    <meta name="google-site-verification" content="jB9702ha8Lgic_IBHozf9eUzH_COXJo164dQ7V79s1I" />
    <meta property="og:site_name" content="PoolCrasher" />
    <meta property="og:url" content="https://poolcrasher.herokuapp.com" />
    <meta property="og:title" content="PoolCrasher | Book and Rent Pool Time" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://poolcrasher.s3.us-east-2.amazonaws.com/photos/images/000/poolcrasher.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://poolcrasher.herokuapp.com">
    <meta name="twitter:title" content="PoolCrasher" />
    <meta name="twitter:image" content="https://poolcrasher.s3.us-east-2.amazonaws.com/photos/images/000/poolcrasher.png" />
    
    <script type="text/javascript" async="" src="https://secure.quantserve.com/quant.js"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  </head>
  
  <body>
    
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
      
    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    
    <div class="container">
    	<%= yield %>
    </div>
    
   <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-04QYSCZVBK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-04QYSCZVBK');
  </script>

    <%= render 'shared/footer' %>
    <% debug(params) if Rails.env.development? %>

  </body>
</html>